/* Linked Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-txt-color: #898EA2;
    --main-nav-color: #272267;
    --section-bg-color: #252934;
    --main-btn-color: #FFDB0E;
    --normal-txt-color: #ffffff;
}

h1,h2{
    color: var(--main-nav-color);
}

a{
    text-decoration: none;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: normal;
}

p{
    font-weight: 300;
}

.m-t{
    margin-top: 150px;
}

.m-b{
    margin-bottom: 100px;
}

section{
    height: 100vh;
    width: 100%;
}

main{
    padding: 80px;
}

/* Home Section */

/* Navbar */
header{
    min-height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    margin: 0 25px;
    font-weight: 600;
    color: var(--main-nav-color);
}

.active a{
    color: var(--main-txt-color);
}

.ham{
    position: absolute;
    right: 6%;
    top: 6%;
    visibility: hidden;
}

.fa-bars{
    color: var(--main-nav-color);
}

/* Main Part */

.details{
    display: flex;
    justify-content: space-between;
}

.bio{
    line-height: 100%;
}

#bio{
    color: var(--main-txt-color);
    letter-spacing: 5px;
    line-height: 2.4rem;
    max-width: 67%;
}

.bio p{
    max-width: 55%;
    line-height: 20px;
}

.model-right{
    position: absolute;
    right: 6%;
}

.hero .my_image{
    width: 300px;
    height: 300px;
    z-index: 1;
}

.svgs{
    width: 400px;
    height: 400px;
    z-index: -1;
}

.btn{
    border-radius: 25px;
    color: var(--section-bg-color);
    padding: 10px 20px;
    font-size: 11px;
    font-weight: 300;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    border: 1px solid var(--main-btn-color);
    text-transform: uppercase;
}

#scrollDown{
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%);
    width: 40px;
}

/* Projects Section */

.proj-main{
    text-align: center;
    position: relative;
}

.proj-sub::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--main-nav-color);
    height: 3px;
    width: 10%;
}

.proj{
    padding: 80px;
    display: flex;
    justify-items: flex-start;
}

.proj-head{
    width: 500px;
    height: 430px;
    background-color: #272267;
}

.proj-desc{
    max-width: 50%;
    margin: auto 10px;
}

/* Contact Section */

.contacts{
    position: relative;
    background-color: var(--section-bg-color);
    display: flex;
}

.cnt{
    position: relative;
    color: var(--normal-txt-color);
}

.cnt::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--normal-txt-color);
    height: 3px;
    width: 12%;
}

.contacts::before{
    position: absolute;
    content: '';
    height: 80px;
    width: 50%;
    top: -47px;
    transform: skewY(7deg) translateY(6px);
    background-color: var(--normal-txt-color);
}

.contacts::after{
    position: absolute;
    content: '';
    height: 80px;
    width: 50%;
    top: -47px;
    right: 0;
    transform: skewY(-7deg) translateY(6px);
    background-color: var(--normal-txt-color);
}

.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.input-mail{
    max-width: 40%;
    color: white;
    margin-top: -5px;
}

.inputField{
    border: none;
    border-bottom: 1px solid #ffffff;
    width: 80%;
    margin: 0px 80px 10px 0px;
    background-color: var(--section-bg-color);
    color: var(--normal-txt-color);
    font-size: 17px;
    outline: none;
    padding: 10px 20px 15px 5px;
}

.msg{
    background-color: var(--main-btn-color);
}

.social-media{
    margin-left: -55px;
}

.social-media ul{
    display: flex;
}

.social-media ul .social{
    list-style: none;
    margin: 0px 25px;
}

.social a{
    color: #ffffff;
}


/* Large Devices */

@media only screen and (max-width: 992px) {
    main{
        padding: 50px;
    }

    #bio{
        font-size: 2.6rem;
        max-width: 60%;
        line-height: 40px;
    }

    .hero .my_image{
        width: 280px;
        height: 280px;
    }

    .svgs{
        width: 360px;
        height: 360px;
        right: 6%;
    }

    #scrollDown{
        width: 35px;
        bottom: 5%;
    }

    .proj{
        padding: 60px;
    }

    .proj-desc{
        max-width: 40%;
    }
}

/* Tablets */

@media only screen and (max-width: 768px) {

    nav .menu.is-active{
        position: absolute;
        left: 5%;
        right: 5%;
        top: 10%;
        background-color: #272267;
        display: block;
        text-align: center;
        padding: 0;
        z-index: 2;
        visibility: visible;
    }

    nav ul li{
        padding: 50px;
    }

    nav ul li  a{
        color: var(--normal-txt-color);
    }

    .ham{
        visibility: visible;
    }

    #bio{
        max-width: 100%;
        line-height: 40px;
        font-size: 2.5rem;
    }

    .bio p{
        max-width: 100%;
        line-height: 20px;
    }

    .hero{
        visibility: hidden;
    }

    .proj{
        display: block;
        padding: 50px;
    }

    .proj-head{
        width:100%;
        height: 330px;
        margin-top: -55px;
    }

    .proj-desc{
        max-width: 100%;
        margin: -25px auto;
    }

    .proj-desc p{
        margin-top: -35px;
    }
    

    .social{
        visibility: visible;
    }

    .inputField{
        padding: 0px 0px 6px 0px;
        margin: 0px 0px 5px 0px;
    }

    .input-mail{
        max-width: 100%;
        margin-top: -70px;
    }

    .input{
        display: block;
    }

    
}

/* Extra Small and Small Devices */

@media only screen and (max-width: 460px) {
    main {
        padding: 0px 20px 0px 30px;
    }

    .bio h2{
        font-size: 1.5rem;
    }
    
    #bio{
        font-size: 2rem;
    }

    .proj-head {
        display: block;
        width: 80%;
        height: 274px;
        margin: -20px auto;
    }

    .proj-desc{
        max-width: 80%;
        margin: auto;
    }

    .proj{
        display: inline;
    }

    .proj-desc p{
        max-width: 100%;
        line-height: 20px;
        margin-top: -15px;
    }

    .proj-descrip h2{
        font-size: 1.5rem;
        margin-top: 35px;
    }
    .cnt{
        margin-top: 50px;
    }

    .input-mail {
        margin-top: -90px;
    }

    .inputField {
        padding: 0;
        margin: 0px 0px 7px 0px;
    }
}
