body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.navbar .logo{
    cursor: pointer;
    margin: 7px 20px;
}

#logo-img{
    width: 40px;
    height: 28px;
}

.navbar-links ul{
    display: flex;
    justify-content: space-evenly;
}

.navbar-links ul .nav-links{
    list-style: none;
    margin: 0 35px;
    color: #272267;
}

.navbar-links ul .nav-links a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: all .5s ease-in-out;
}

.active{
    color: #898EA2;
}

#home{
    height: 60vh;
}

.bio{
    margin: 100px 50px;
    line-height: 15px;
}

#front-end{
    color: #898EA2;
    font-size: 3rem;
}
.same{
    color: #272267;
    font-size: 2rem
}

.short-bio{
    margin-top: -50px;
}

.short-bio p{
    color: #898EA2;
    margin: 50px;
}

.btn{
    border: 1px solid #FFDB0E;
    outline: none;
    border-radius: 30px;
    color: #272267;
    padding: 15px 20px;
    cursor: pointer;
    background-color: white;
    font-size: 12px;
    margin:-20px 50px;
    transition: all .8s;
}

.btn:hover{
    background-color: #FFDB0E;
}

#img{
    max-width: 100%;
    object-fit: fill;
}

.image-svg{
    float: right;
    margin-right: -50px;
    margin-top: -130px;
}

#next-section{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-95%);
    cursor: pointer;
}


@media screen and (max-width: 768px){
    
    .line{
        width: 23px;
        height: 3px;
        background-color: #272267;
        margin: 5px;
        border-radius: 7px;
    }

    .toggle{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 6%;
        transform: translate(-5%,-6%);
        transition: all 0.5s ease-in-out;
    }


    .navbar-links .menu{
        display: block;
    }

    .menu{
        position: absolute;
        top: 55px;
        right: 10%;
        height: calc(95vh - 55px);
        background-color: #272267;
    }

    .nav-links{
        padding: 50px;
    }

    .nav-links a{
        color:white;
        
    }
    
    .navbar-links .menu.is-active{
        display: none;
    }

    #home{
        margin: -50px 0px;
      
    }

    .same{
        font-size: 19px;
    }

    #front-end{
        font-size: 30px;
        line-height: 25px;
    }
}

