/* Linked Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-txt-color: #898EA2;
    --main-nav-color: #272267;
    --section-bg-color: #252934;
    --main-btn-color: #FFDB0E;
    --normal-txt-color: #ffffff;
}

a{
    text-decoration: none;
}


/* Home Section */

/* Navbar */
#home{
    background: #F9FAFF;
}

nav{
    position: relative;
    min-height: 15vh;
    width: 90%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: none;
}

.menu.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAFF;
    height: 88vh;
    width: 100%;
    position: absolute;
    top: 62%;
    left: 0;
    right: 0;
    z-index: 1;
    margin-left: -20px;
}

.menu li{
    list-style: none;
    margin: 80px 0;
}

.menu li a{
    font-weight: 600;
    color: var(--main-nav-color);
}

.menu li .active{
    color: #898EA2;
}

.logo img{
    width: 82%;
}

.fa-bars{
    width: 50%;
}

main{
    width: 92%;
    margin: 0px auto;
    position: relative;
    min-height: 85vh;
}


.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.bio h2{
    font-size: 18px;
    margin: 0;
    margin-top: 40px;
    color: var(--main-nav-color);
    font-weight: 500;
}

#bio{
    margin: 10px 0;
    font-size: 25px;
    color: var(--main-txt-color);
    font-weight: 600;
}

.bio p{
    font-size: 16px;
} 

.scroll{
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}

.svgs{
    width: 400px;
    height: 400px;
    /* display: none; */
} 

.btn{
    border-radius: 25px;
    color: var(--section-bg-color);
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    border: 1px solid var(--main-btn-color);
    text-transform: uppercase;
    transition: .5s all;
}

.btn:hover{
    animation: buttonAnimate .8s ease-out;
}

.res{
    background-color: #F9FAFF;
}

.hero{
    display: none;
}
/* Projects Section */

.proj-main{
    text-align: center;
    position: relative;
}

.proj-sub::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--main-nav-color);
    height: 3px;
    width: 10%;
}

.proj-sub{
    color: var(--main-nav-color);
    font-size: 18px;
    font-weight: 500;
}

.proj{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 92%;
    margin: 0 auto;
}

.proj-head{
    height: auto;
    background-color: #FFE4E3;
    margin-top: 20px;
    padding: 20px;
    width: 580px;
}

.head2{
    background-color: #CBF2FF;
}

.proj-desc{
    padding: 20px 0 30px 0;
}

.proj-descrip h2{
    color: var(--main-nav-color);
    font-size: 18px;
    font-weight: 500;
}

.proj-right p{
    font-size: 16px;
}

.work{
    max-width: 100%;
}
/* Contact Section */

.contacts {
    position: relative;
    background-color: var(--section-bg-color);
    display: flex;
}

.cnt {
    position: relative;
    color: var(--normal-txt-color);
    margin-top: 60%;
    font-weight: 500;
}

.cnt::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--normal-txt-color);
    height: 3px;
    width: 12%;
}

.contacts{
    clip-path: polygon(0 100%, 0 0, 50% 14%, 100% 0, 100% 100%);
}

.up{
    position: absolute;
    top: 9%;
    transform: translate(-50%,50%);
    left: 50%;
    background-color: var(--main-btn-color);
}

.input-mail{
    color: white;
}

.input-mail a{
    color: #898EA2;
    font-weight: 600;
}

.social-media ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

.social-media ul li{
    margin-right: 20px;
}

.social-media ul li a{
    color: white;
}

.input-fields{
    margin: 25px 0;
    padding: 20px 0;
}

.inputField{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFDB0E;
    outline: none;
    padding-bottom: 10px;
    width: 100%;
    color: white;
    margin: 12px 0;
}

.msg{
    background-color: transparent;
    color: #898EA2;
    margin-top: 20px;
}

#country{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFDB0E;
    outline: none;
    padding-bottom: 10px;
    width: 90%;
    color: #898EA2;
    margin: 12px 0;
}

.opt{
    background-color: #FFE4E3;
    color: #252934;
    border-radius: 0;
}
/* Button Animation */

@keyframes buttonAnimate{
    from{
        background-color: #FFE4E3;
    }
    to{
        background-color: #FFDB0E;
    }
}

/* Responsive */

@media screen and (max-width:399px){
    .proj-head{
        width: 280px;
    }
}

@media screen and (min-width:400px){

    main{
        width: 90%;
    }

    .details{
        padding: 45px 0;
    }

    .proj{
        width: 90%;
    }

    .proj-head{
        /* width: 380px; */
        height: auto
    }

    .inputField{
        width: 90%;
    }

    .cnt {
        margin-top: 50%;
    }

}

@media screen and (min-width:600px){
    
    .details{
        padding: 65px 0;
    }

    .bio h2{
        font-size: 25px;
    }

    #bio{
        font-size: 30px;
    }

    .proj-sub {
        font-size: 25px;
    }

    .proj-head{
        /* width: 580px; */
        height: auto
    }

    .cnt {
        margin-top: 40%;
    }
}

@media screen and (min-width:768px){
    .logo img {
        width: 90%;
    }   

    .ham{
        display: none;
    }

    .menu{
        display: flex;
    }

    .menu li {
        margin:0 30px;
    }

    .bio p{
        /* max-width: 80%; */
        margin-bottom: 35px;
    }

    main{
        text-align: center;
    }

    .bio h2{
        font-size: 30px;
    }

    #bio{
        font-size: 40px;
    }

    .proj-sub {
        font-size: 30px;
    }

    .cnt {
        margin-top: 30%;
    }
}

@media screen and (min-width:992px){
    main{
        text-align: left;
    }

    .details {
        padding: 35px 0;
    }

    #bio{
        font-size: 46px;
        max-width: 80%;
    } 

    .bio p{
        max-width: 80%;
    }

    .my_image{
        width: 80%;
        z-index: 99999;
        position: relative;
    }

    .hero{
        position: relative;
        height: auto;
        display: block;
    }

    .svg{
        position: absolute;
        left: -32%;
        top: -68px;
        /* z-index: -2; */
    }

    .svgs{
        position: absolute;
    }

    .proj{
        flex-direction: row;
        margin: 45px auto;
    }

    .proj-desc {
        max-width: 40%;
        margin-left: 20px;
        position: relative;
    }

    .proj-descrip h2 {
        font-size: 25px;
    }

    .input{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }

    .input-mail {
        max-width: 50%;
        /* margin-top: 10%; */
    }

    .cnt {
        margin-top: 20%;
    }

    .input-fields {
        width: 40%;
    }

    .social-media ul {
        justify-content: flex-start;
    }
}
